# one hour in milliseconds
consumer_timeout = 3600000

# listeners.tcp = none

# listeners.ssl.default = 5671

# ssl_options.cacertfile = /path/to/ca_certificate.pem
# ssl_options.certfile   = /path/to/server_certificate.pem
# ssl_options.keyfile    = /path/to/server_key.pem
# ssl_options.verify     = verify_peer
# ssl_options.fail_if_no_peer_cert = true


# credential_validator.validation_backend = rabbit_credential_validator_password_regexp
# credential_validator.regexp = ^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){12,50}$